<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>django456</title>
</head>
<body>
    <h2>Добавление фильма</h2>
    <form action="POST">
        {% csrf_token %}
        <p>
            <label>Введите название фильма</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите дату выпуска</label><br>
            <input type="date" name="release_date">
        </p>
        <p>
            <label>Введите имена актёров</label><br>
            <input type="text" name="actors">
        </p>
        <p>
            <label>Введите дату показа</label><br>
            <input type="date" name="show_date">
        </p>
        <p>
            <label>Введите жанр</label><br>
            <select name="category">
            {% for category in categories %}
                <option value="{{category.id}}">{{company.name}}</option>
            {% endfor %}
            </select>
        </p>
    </form>
</body>
</html>